{% include 'UserBundle:Base:headIndex.html.twig' %}
<body>
<nav id="c-menu--slide-left" class="c-menu c-menu--slide-left">
    <ul class="c-menu__items">
        <li class="c-menu__item">
            <a href="#" class="c-menu__link">
                <div class="headerSell">
                    <a href="/article">  <img src="{{ asset('assets/img/headerSell.png ') }}" class="headerSellImg" alt="shoes">VENDRE
                    </a> </div>
            </a>
        </li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">MON COMPTE</a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">
                <hr>
            </a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">COMMUNAUTÉ</a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">NEWS</a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">PRÉSENTATION</a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">COMMENT ÇA MARCHE?</a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">FAQ</a></li>
    </ul>
</nav>

<header class="header">
    <div class="testone">
        <div class="headerBlockSocial">
            <div class="headerSocial">SUIVEZ NOUS SUR:
                <div class="headerSocialIcon">
                    <div class="footerSocial"><i class="fa fa-twitter fa-lg footerSocialImg" aria-hidden="true"></i>
                    </div>
                    <div class="footerSocial"><i class="fa fa-facebook fa-lg footerSocialImg" aria-hidden="true"></i>
                    </div>
                    <div class="footerSocial"><i class="fa fa-instagram fa-lg footerSocialImg" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <form class="headerSearchForm">
            <div class="headerSearchBar">
                <input type="search" placeholder="Rechercher" class="headerSearchBarInput">
                <input type="submit" value="" class="headerSearchBarSubmit">
            </div>
            <ul class="headerSubMenu">
                <li class="headerSearchSubMenu">
                    <ul class="headerMenuBrand">
                        <li>
                            SNEAKERS
                            <img src="{{ asset('assets/img/downIcon.png') }}" class="SubMenuDownIcon" alt="arrow">
                            <ul class="headerMenuBrandLink">
                                <li><a href="/airforce">Air Force</a></li>
                                <li><a href="/adidas">Adidas</a></li>
                                <li><a href="/asics">Asics</a></li>
                                <li><a href="/converse">Converse</a></li>
                                <li><a href="/diadora">Diadora</a></li>
                                <li><a href="/jordan">Jordan</a></li>
                                <li><a href="/karhu">Karhu</a></li>
                                <li><a href="/lacoste">Lacoste</a></li>
                                <li><a href="/lecoqsportif">Le coq sportif</a></li>
                                <li><a href="/newbalance">New Balance</a></li>
                                <li><a href="/nike">Nike</a></li>
                                <li><a href="/nikesb">Nike SB</a></li>
                                <li><a href="/puma">Puma</a></li>
                                <li><a href="/reebook">Reebook</a></li>
                                <li><a href="/vans">Vans</a></li>
                                <li><a href="/veja">Veja</a></li>
                                <li><a href="/yeezy">Yeezy</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="headerSearchSubMenu">COMMUNAUTÉ</li>
                <li class="headerSearchSubMenu">NEWS</li>
                <li class="headerSearchSubMenu">
                    QUI SOMMES NOUS?
                    <img src="{{ asset('assets/img/downIcon.png') }}" class="SubMenuDownIcon" alt="arrow">
                </li>
            </ul>
        </form>
        <div class="headerSellandAccount">
            <div class="headerSell headerButtonSell">
                <img src="{{ asset('assets/img/headerSell.png') }}" class="headerSellImg" alt="chaussure">VENDRE
            </div>
            <div class="headerAccount">VOTRE COMPTE</div>
        </div>
        <img src="{{ asset('assets/img/headerMenu.png') }}" class="onClick headerIcon headerMenu" alt="menu">
        <div class="headerIcon headerLogo">
            <img src="{{ asset('assets/img/logo_KicksBank.png') }}" class="headerLogoImg" alt="logo">
        </div>
        <img src="{{ asset('assets/img/headerSearch.png') }}" class="headerIcon headerSearch headerSearchClick" alt="search">
        <ul class="headerBrand">
            <div class="headerBrandName">
                <li><a href="/airforce">Air Force</a></li>
                <li><a href="/adidas">Adidas</a></li>
                <li><a href="/asics">Asics</a></li>
                <li><a href="converse">Converse</a></li>
                <li><a href="/diadora">Diadora</a></li>
                <li><a href="/jordan">Jordan</a></li>
                <li><a href="/karhu">Karhu</a></li>
                <li><a href="/lacoste">Lacoste</a></li>
                <li><a href="/lecoqsportif">Le coq sportif</a></li>
                <li><a href="/newbalance">New Balance</a></li>
                <li><a href="/nike">Nike</a></li>
                <li><a href="/nikesb">Nike SB</a></li>
                <li><a href="/puma">Puma</a></li>
                <li><a href="/reebook">Reebook</a></li>
                <li><a href="/vans">Vans</a></li>
                <li><a href="/veja">Veja</a></li>
                <li><a href="/yeezy">Yeezy</a></li>
            </div>
        </ul>
    </div>
</header>
<main role="main" class="container index">

    <div class="contentPrez">
        <div class="titlePrez paramPrez">KICKS BANK, LE NOUVEAU PORTAIL D'ÉCHANGE DE SNEAKERS</div>
        <div class="contentInsidePrez paramPrez">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
            dapibus augue maximus blandit hendrerit.
        </div>
    </div>
    {% include 'UserBundle:Base:layout.html.twig' %}
    <br>
    <br>
    <strong>{{ msgError }}</strong>




</main>
<main role="main" class="search searchContent">
    <div class="testone">
        <div class="searchFilter">
            <div class="searchFilterAction">
                <div class="searchFilterActionGlobal">
                    <div class="searchFilterParameters searchFilterBrand">
                        <img src="{{ asset('assets/img/product/icons-06.png') }}" class="searchFilterImg">
                        MARQUE
                        <hr class="searchFilterHover">
                    </div>
                    <div class="searchFilterParameters searchFilterCondition">
                        <img src="{{ asset('assets/img/product/icons-03.png') }}" class="searchFilterImg">
                        ÉTAT
                        <hr class="searchFilterHover">
                    </div>
                    <div class="searchFilterParameters searchFilterSize">
                        <img src="{{ asset('assets/img/product/icons-25.png') }}" class="searchFilterImg">
                        TAILLE
                        <hr class="searchFilterHover">
                    </div>
                    <div class="searchFilterParameters searchFilterColor">
                        <img src="{{ asset('assets/img/product/icons-05.png') }}" class="searchFilterImg">
                        COULEUR
                        <hr class="searchFilterHover">
                    </div>
                    <div class="searchFilterParameters searchFilterPrice">
                        <img src="{{ asset('assets/img/product/icons-04.png') }}" class="searchFilterImg">
                        PRIX
                        <hr class="searchFilterHover">
                    </div>
                </div>
                <hr class="searchFilterSeparator">
                <div class="searchFilterDone">
                    <img src="{{ asset('assets/img/product/icons-13.png') }}" class="searchFilterDoneImg">
                </div>
             <!--   <ul class="searchFilterList">
                    <ul class="searchFilterBrandList">
                    </ul>
                    <ul class="searchFilterConditionList">
                        <li>NEUF</li>
                        <li>COMME NEUF</li>
                        <li>TRACES D'USURE</li>
                        <li>USÉ</li>
                    </ul>
                    <ul class="searchFilterSizeList">
                        <li>NEUF</li>
                        <li>NEUF</li>
                        <li>NEUF</li>
                        <li>NEUF</li>
                        <li>NEUF</li>
                        <li>NEUF</li>
                        <li>NEUF</li>
                        <li>NEUF</li>
                        <li>NEUF</li>
                        <li>NEUF</li>
                        <li>NEUF</li>
                        <li>NEUF</li>
                        <li>NEUF</li>
                        <li>NEUF</li>
                        <li>NEUF</li>
                        <li>NEUF</li>
                        <li>NEUF</li>
                    </ul>
                    <ul class="searchFilterColorList">
                        <li>VERT</li>
                        <li>JAUNE</li>
                        <li>ORANGE</li>
                        <li>ROUGE</li>
                        <li>VIOLET</li>
                        <li>BLEU</li>
                        <li>NOIR</li>
                        <li>BLANC</li>
                        <li>BEIGE</li>
                        <li>ROSE</li>
                    </ul>
                    <ul class="searchFilterPriceList">
                        <li>DE<input type="number" class="auctionInputNumber"> EUR A <input type="number"
                                                                                            class="auctionInputNumber">
                            EUR
                        </li>
                    </ul>
                </ul> -->

            </div>
            <div class="ProductShoes">
                {% for article in result %}

                    <div class="productShoesBlockImg"><a href="/enchere/{{ article.id }}"><img src="{{ article.articleUrl1 }}" style="width: 50%; height: 50%" class="productShoesImg"
                                                                                               alt="shoes"></a>
                    </div>
                    <div class="productShoesTitle">ADIDAS NMD CORE BLACK LUSH RED</div>
                    <div class="productShoesBuy"><img src="{{ asset('assets/img/productBuy.png') }}"
                                                      class="productShoesBuyImg" alt="buy">{{ article.price }} &euro;
                    </div>
                    <div class="productShoesBid"><img src="{{ asset('assets/img/productBid.png') }}"
                                                      class="productShoesBidImg" alt="bid">{{ article.bidPrice }} &euro;
                    </div>
                    <div class="productShoesAdded">ajouté le {{ article.dateArticle.date|date("d/H") }} par <a href="/profile/other/{{ article.nickname }}">{{ article.nickname }}</a></div>

                {% endfor %}
            </div>
        </div>
        <form name="searchForm" method="POST">
            <p>Par marque</p>
            <select  name="marque" >
                <option value="">Toutes</option>
                <option value="airforce">Air Force</option>
                <option value="adidas">Adidas</option>
                <option value="asics">Asics</option>
                <option value="converse">Converse</option>
                <option value="diadora">Diadora</option>
                <option value="jordan">Jordan</option>
                <option value="karhu">Karhu</option>
                <option value="lacoste">Lacoste</option>
                <option value="lecoqsportif">Le coq sportif</option>
                <option value="newbalance">New Balance</option>
                <option value="nike">Nike</option>
                <option value="nikesb">Nike Sb</option>
                <option value="puma">Puma</option>
                <option value="reebok">Rebook</option>
                <option value="vans">Vans</option>
                <option value="veja">Veja</option>
                <option value="yeezy">Yeezy</option>
                <option value="autre">Autre marques</option>
            </select>
            <p>Par prix</p>
            <input type="number" name="priceInput">
            <br>
            <br>
            <p>Par Etat</p>
            <select name="etat">
                <option value="">Tous</option>
                <option value="neuf">Neuf</option>
                <option value="Commeneuf">Comme neuf</option>
                <option value="tracesusure">Traces d'usure</option>
                <option value="use">Usé</option>
            </select>
            <br>
            <br>
            <p>Par couleur</p>
            <h3>Couleur</h3>
            <input type="checkbox" name="color[]" value="blanc">Blanc<br>
            <input type="checkbox" name="color[]" value="jaune">Jaune<br>
            <input type="checkbox" name="color[]" value="orange">Orange<br>
            <input type="checkbox" name="color[]" value="vert">Vert<br>
            <input type="checkbox" name="color[]" value="bleu">Bleu<br>
            <input type="checkbox" name="color[]" value="rose">Rose<br>
            <input type="checkbox" name="color[]" value="rouge">Rouge<br>
            <input type="checkbox" name="color[]" value="violet">Violet<br>
            <input type="checkbox" name="color[]" value="gris">Gris<br>
            <input type="checkbox" name="color[]" value="marron">Marron<br>
            <input type="checkbox" name="color[]" value="noir">Noir<br>
            <input type="checkbox" name="color[]" value="beige">Beige<br>
            <input type="submit" value="Rechercher">
            <br><br>
        </form>
    </div>
</main>
</body>
{% include 'UserBundle:Base:footer.html.twig' %}
</html>